 body {
      font-family: Arial, sans-serif;
    }

    
    .menu-idiomas {
      position: relative;
      display: inline-block;
    }

    .lista-idiomas {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 150px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      border-radius: 5px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .menu-idiomas:hover .lista-idiomas {
      display: block;
    }